<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Abatab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <Abatab.Properties.Settings>
        <setting name="AbatabMode" serializeAs="String">
            <value>passthrough</value>
        </setting>
        <setting name="AbatabRoot" serializeAs="String">
            <value>C:\AvatoolWebService\Abatab_UAT</value>
        </setting>
        <setting name="DebugMode" serializeAs="String">
            <value>off</value>
        </setting>
        <setting name="DebugLogRoot" serializeAs="String">
            <value>C:\AvatoolWebService\Abatab_UAT\logs\debug</value>
        </setting>
        <setting name="LogMode" serializeAs="String">
            <value>session</value>
        </setting>
        <setting name="LogDetail" serializeAs="String">
            <value>normal</value>
        </setting>
        <setting name="LogDelay" serializeAs="String">
            <value>10</value>
        </setting>
        <setting name="AvatarFallbackUserName" serializeAs="String">
            <value>_Abatab_</value>
        </setting>
        <setting name="ModTestingMode" serializeAs="String">
            <value>enabled</value>
        </setting>
        <setting name="ModQuickMedOrderMode" serializeAs="String">
            <value>enabled</value>
        </setting>
        <setting name="ModQuickMedOrderValidUsers" serializeAs="String">
            <value>all</value>
        </setting>
        <setting name="ModQuickMedOrderDosePercentMaxInc" serializeAs="String">
            <value>0.25</value>
        </setting>
        <setting name="ModPrototypeMode" serializeAs="String">
            <value>enabled</value>
        </setting>
    </Abatab.Properties.Settings>
  </applicationSettings>
</configuration>