<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Abatab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <Abatab.Properties.Settings>
      <setting name="AbatabMode" serializeAs="String">
        <value>enabled</value>
      </setting>
      <setting name="AbatabServiceRoot" serializeAs="String">
        <value>C:\AvatoolWebService\Abatab_</value>
      </setting>
      <setting name="AbatabDataRoot" serializeAs="String">
        <value>C:\AbatabData</value>
      </setting>
      <setting name="LoggerMode" serializeAs="String">
        <value>enabled</value>
      </setting>
      <setting name="LoggerDelay" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LoggerTypes" serializeAs="String">
        <value>all</value>
      </setting>
      <setting name="AvatarEnvironment" serializeAs="String">
        <value>UAT</value>
      </setting>
      <setting name="AbatabFallbackUserName" serializeAs="String">
        <value>ABATAB</value>
      </setting>
      <setting name="ModProgNoteMode" serializeAs="String">
        <value>enabled</value>
      </setting>
      <setting name="ModProgNoteUsers" serializeAs="String">
        <value>all</value>
      </setting>
      <setting name="ModProtoMode" serializeAs="String">
        <value>enabled</value>
      </setting>
      <setting name="ModProtoUsers" serializeAs="String">
        <value>all</value>
      </setting>
      <setting name="ModQMedOrdrMode" serializeAs="String">
        <value>enabled</value>
      </setting>
      <setting name="ModQMedOrdrUsers" serializeAs="String">
        <value>all</value>
      </setting>
      <setting name="ModQMedOrdrValidOrderTypes" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ModQMedOrdrDosePercentBoundary" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ModQMedOrdrDoseMilligramBoundary" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="ModTestingMode" serializeAs="String">
        <value>enabled</value>
      </setting>
      <setting name="DebugglerMode" serializeAs="String">
        <value>disabled</value>
      </setting>
      <setting name="AbatabVersion" serializeAs="String">
        <value>23.7</value>
      </setting>
      <setting name="AbatabBuild" serializeAs="String">
        <value>development+230713.1530</value>
      </setting>
      <setting name="ModProgNoteServiceChargeCodeFieldId" serializeAs="String">
        <value>51001</value>
      </setting>
      <setting name="ModProgNoteFlaggedServiceChargeCodePrefixes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>TMH</string>
            <string>AOTMH</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ModProgNoteFlaggedServiceChargeCodeCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>TMH90853</string>
            <string>AOTMH90853</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ModProgNoteLocationFieldId" serializeAs="String">
        <value>50004</value>
      </setting>
      <setting name="ModProgNoteValidLocationCodes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>T110</string>
            <string>T102</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ModProgNoteValidLocationNames" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>Telehealth Patient Home</string>
            <string>Telehealth Patient Loc Not Home</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ModQMedOrdrOrderTypeFieldId" serializeAs="String">
        <value>121</value>
      </setting>
      <setting name="ModQMedOrdrPreviousDosePrefix" serializeAs="String">
        <value>Recurring Dosage:</value>
      </setting>
      <setting name="ModQMedOrdrPreviousDoseSuffix" serializeAs="String">
        <value> mgs</value>
      </setting>
      <setting name="ModQMedOrdrDosageOneFieldId" serializeAs="String">
        <value>107</value>
      </setting>
      <setting name="ModQMedOrdrCurrentDoseage" serializeAs="String">
        <value>0.0</value>
      </setting>
      <setting name="ModQMedOrdr" serializeAs="String">
        <value />
      </setting>
      <setting name="AbatabEmailAddress" serializeAs="String">
        <value>abatab@spectrumhealthsystems.org</value>
      </setting>
      <setting name="AbatabEmailPassword" serializeAs="String">
        <value>nopass123</value>
      </setting>
    </Abatab.Properties.Settings>
  </applicationSettings>
</configuration>